<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music.demo.mapper.SongMapper">
    <select id="findById" resultType="com.music.demo.dao.Song">
        SELECT * FROM song WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.music.demo.dao.Song">
        SELECT * FROM song
    </select>
    <select id="findRecommendedSongsByCategoryId" resultType="com.music.demo.dao.Song">
        SELECT s.*
        FROM song s
                 JOIN song_category sc ON s.id = sc.song_id
        WHERE sc.category_id = #{categoryId}
        ORDER BY RAND()
            LIMIT 10
    </select>
</mapper>
